
body{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 9;
}

header a {
  color: seashell;
  text-decoration: underline;
}


header {
  position: fixed;
  border-bottom: 1px solid seashell;
  align-self: center;
  width: 100%;
  z-index:10;
  background-color: black;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header img {
  margin-left: 10px;
  height: 50px;
  display: inline-flex;
}

#nav {
  display: inline-flex;
  justify-content: space-around;
  width:25%;
}

.container {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.mission-background{
  position:relative;
  top: 1px;
  z-index: 0;
  background-image: url("../photos/img-mission-background.jpg");
  width: 1200px;
  height: 701px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  #mission {
    z-index: 5;
    background-color: black;
    width: 100%;
  }


.tea-month{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center;
  width: 1000px;
  height: 750px;
}

h2 {
  margin: 10px;
}

h4 {
  margin: 10px;
}

#tea-list {
  display: flex;
  flex direction: row;
  flex-wrap: wrap;
  align-items: space-around;
  align-content: space-around;
  justify-content: center;
}
#tea-list img {
  height:200px;
  width: 300px;
  margin: 10px;
}

.location-background {
  background-image: url("../photos/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-background h2 {
  margin-bottom: 0px;
}

  #location-info{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 15px;
    z-index: 5;
  }

  #location-info div {
    width: 300px;
    height: 300px;
    z-index: 5;
    background: black;
    margin: 0px 20px;
    opacity: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #location-info h4, #location-info p {
    margin: auto;
  }

#contact {
  height: 200px;
}

footer{
  text-align:left;
  margin: 0px 0px 0px 10px;
}
